<div class='container mx-auto'>
  <!-- SEARCH FORM -->
  <h1 class='text-xl my-4 text-center'>SEARCH RESULTS</h1>
  <div class='flex justify-center items-center'>
    <form
      id='searchForm'
      action='{{ routes.search_url }}'
      method='get'
      class='border flex rounded-sm'
    >
      <input
        type='text'
        name='q'
        placeholder='Search'
        value='{{ search.terms | escape }}'
        class='px-4 py-2 w-80 border-none outline-none focus:ring-0'
      >
      <button
        type='submit'
        class='bg-gray-900 hover:bg-gray-700 text-white border px-4 cursor-pointer rounded-sm'
      >
        Search
      </button>
    </form>
  </div>

  <!-- SEARCH RESULTS -->
  <div id='searchResults'>
    {% paginate search.results by 10 %}
      {% if search.performed %}
        {% if search.results.size > 0 %}
          <div class='max-w-6xl mx-auto'>
            <p class='text-gray-500 text-center my-10'>
              {{ search.results.size }} results for the search term {{ search.terms | escape }}
            </p>
            <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
              {% for item in search.results %}
                {% case item.object_type %}
                  {% when 'product' %}
                    {% render 'product-card', product_product: item %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class='text-center my-10'>
            <p>
              No results found for the search term: {{ search.terms | escape }}. Try to use a
              different keyword.
            </p>
          </div>
        {% endif %}
      {% endif %}

      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
  </div>
</div>

<script>
  document.getElementById('searchForm').addEventListener('submit', function (e) {
    e.preventDefault();

    const form = e.target;
    const query = new URLSearchParams(new FormData(form)).toString();
    const resultsContainer = document.getElementById('searchResults');

    fetch(`${form.action}?${query}`)
      .then((res) => res.text())
      .then((html) => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const newResults = doc.querySelector('#searchResults');
        resultsContainer.innerHTML = newResults
          ? newResults.innerHTML
          : '<p class="text-center my-10">No results found.</p>';
      })
      .catch((err) => {
        console.error('Search failed', err);
      });
  });
</script>
